pandas==2.2.3
numpy==2.2.4
requests==2.32.3
scikit-learn==1.6.1
openpyxl==3.1.2
joblib
sentence-transformers
fastapi
uvicorn
llama-cpp-python
streamlit
streamlit-option-menu
tqdm==4.67.1
streamlit
pandas
numpy
openpyxl
seaborn
plotly
matplotlib
nltk
scipy
python-dateutil
tqdm